<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Add new Student</h1>
        <form action="#" th:action="@{/saveAdmin}" th:object = "${admin}" , method="POST">
            <Fieldset> 
                <label>Enter Admin Id</label>
                <input type="text" th:field="*{adminId}" placeholder="username "> 
            </Fieldset>

            <Fieldset> 
            <label>Enter Admin username</label>
            <input type="text" th:field="*{adminUserName}" placeholder="username "> 
            </Fieldset>

            <Fieldset>
            <label>Enter Admin password</label>
            <input type="text" th:field="*{adminPassword}" placeholder="password "> 
            </Fieldset>

            <Fieldset>
            <label>Enter Admin Contact</label>
            <input type="text" th:field="*{adminPhone}" placeholder=" Contact "> 
            </Fieldset>

           
            <button type="submit"> Add Administrator</button> 
        </form>

    </div>
</body>
</html>