<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Student List</h1> 
        <table style="border: 1px solid black;" class="table table-striped table-responsive-md">
            <thead style="border: 1px solid black;">
                <th>Admin name</th>
                <th>Admin Phone</th>
            </thead>
            <tbody >
                <tr th:each="admin: ${allAdmins}" >
                    <td th:text = "${admin.aName}" style="border: 1px solid black;"></td>
                    <td th:text = "${admin.aPhone}" style="border: 1px solid black;"></td>
                    
                    <td>
                        <a th:href = "@{/updateA/{id}(id=${admin.aId})}" class="btn btn-primary">Update</a> 
                        <a th:href = "@{/deleteA/{id}(id=${admin.aId})}" class="btn btn-danger">delete</a> 
                   </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/newAdmin}" class="btn btn-primary"> Add new Administrator </a>
    </div>
</body>
</html>